# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Compiled program and configs
gobin
gobin.conf
/rel
/bin

# Vim swap
.*.sw[opn]
tags

# Deploy script
push_up.sh

# Folders
_obj
_test

# Goat lib folder
.goat

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
