{{define "header"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
</head>
{{end}}

{{define "hordeBody"}}
<body>
{{$domain := .Domain}}
{{with .Horde}}
    {{range .}}
        <a href="http://{{$domain}}/{{.UID}}">{{.UID}}</a>    {{.Created}}<br>
    {{end}}
{{end}}
</body>
{{end}}

{{define "hordePage"}}
{{template "header"}}
{{template "hordeBody" .}}
{{end}}
