.content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid;
    border-radius:10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

span.code-block { 
    white-space: pre;
    font-family: monospace;
    font-size: 90%;
    display: block;
    width: 560px;
    margin: 0 auto;
}     

.tabs {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.tabs ul {
    list-style: none;
    padding-top: 0;
    padding-left: 2px;
    margin:0;
}

.tabs li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 0.5em 0 0;
    padding-bottom: 1px;
}

.tabs li a {
    padding: 0 1em;
}

.tabs .selected-tab {
    padding-bottom: 2px; 
    background: white;
}
