{{define "head"}}<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/static/css/code-block.css">
    <title>{{.Title}}</title>
</head>{{end}}

{{define "prismHead"}}<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/static/css/prism-okaidia.css">
    <title>{{.Title}}</title>
</head>{{end}}


{{define "googleAnalytics"}}<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48511628-1', 'gobin.io');
  ga('send', 'pageview');
</script>
{{end}}

{{define "hordeBody"}}
<body>
<pre>
{{$domain := .Domain}}{{with .Horde}}{{range .}}<a href="http://{{$domain}}/{{.UID}}">http://{{$domain}}/{{.UID}}</a>    {{.Created}}
{{end}}{{end}}
</pre>
{{template "googleAnalytics"}}
</body>{{end}}

{{define "homeBody"}}
<body>
<span class="code-block">gobin(1)                             GOBIN                             gobin(1)

NAME
    gobin: command line pastebin implemented by goblin written in go.
    STILL IN DEVELOPMENT, ANYTHING UPLOADED MAY BE DELETED AT ANY TIME.

SYNOPSIS
    Normal Upload:
      &lt;command&gt; | curl -F 'gob=&lt;-' http://{{.Domain}}
    Horde Upload:
      &lt;command&gt; | curl -F 'gob=&lt;-' http://{{.Domain}}/&lt;horde&gt;

DESCRIPTION
    Uploads output of &lt;command&gt; to {{.Domain}} or {{.Domain}}/&lt;horde&gt; and returns
    link to the gob.  All gobs pasted to a horde (a group of gobs or goblins) 
    can be seen by going to http://{{.Domain}}/h/&lt;horde&gt;.

    Add ?LANG to resulting url for line numbers and syntax highlighting.

    &lt;horde&gt; can be any combination of upper or lower case letters

    Images and pdfs should work well also.

EXAMPLES
    Normal Upload:
    ~$ echo "Gobin is awesome" | curl -F 'gob=&lt;-' http://{{.Domain}}
       http://{{.Domain}}/VZiY
    ~$ firefox http://{{.Domain}}/VZiY

    Syntax Highlighting:
    ~$ firefox http://{{.Domain}}/VZiY?go

    Horde Upload:
    ~$ cat hatersgonnahate.gif | curl -F 'gob=&lt;-' http://{{.Domain}}/gifs
       http://{{.Domain}}/VZiY
    ~$ firefox http://{{.Domain}}/h/gifs

SEE ALSO
    <a href="http://github.com/kinghrothgar/goblin">http://github.com/kinghrothgar/goblin</a>
    <a href="http://github.com/kinghrothgar/goblin-scripts">http://github.com/kinghrothgar/goblin-scripts</a>
</span>
{{template "googleAnalytics"}}
</body>
{{end}}

{{define "homePage"}}<!DOCTYPE html>
<html>
{{template "head" .}}
{{template "homeBody" .}}
</html>
{{end}}

{{define "hordePage"}}<!DOCTYPE html>
<html>
{{template "head" .}}
{{template "hordeBody" .}}
</html>
{{end}}

{{define "gobPage"}}<!DOCTYPE html>
<html>
{{template "prismHead" .}}
<body>
    <pre class="line-numbers"><code class="language-{{.Language}}">{{.Data}}</code></pre>
    <script src="/static/js/prism-okaidia.js"></script>
{{template "googleAnalytics"}}
</body>
</html>
{{end}}

{{define "mdPage"}}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <title>{{.Title}}</title>
</head>
<body>
    <div id="mdText" style="display:none">{{.Data}}</div>
    <div id="mdHTML"></div>
    <script src="/static/js/markdown.js"></script>
    <script>
        var $ = function (id) { return document.getElementById(id); };
        $("mdHTML").innerHTML = markdown.toHTML($("mdText").innerHTML);
    </script>
{{template "googleAnalytics"}}
</body>
</html>
{{end}}
