{{define "head"}}
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/static/css/code-block.css">
    <title>{{.Title}}</title>
</head>
{{end}}

{{define "hordeBody"}}
<body>
<h2>{{.Title}}</h2>
<hr>
<pre>
{{$domain := .Domain}}{{with .Horde}}{{range .}}<a href="http://{{$domain}}/{{.UID}}">{{.UID}}</a>    {{.Created}}
{{end}}{{end}}
</pre>
<hr>
</body>
{{end}}

{{define "homeBody"}}
<body>
<pre><code class="language-none">gobin(1)                             GOBIN                             gobin(1)

NAME
    gobin: command line pastebin implemented by goblin written in go.
    STILL IN DEVELOPMENT, ANYTHING UPLOADED MAY BE DELETED AT ANY TIME.

SYNOPSIS
    Normal Upload:
      COMMAND | curl -F 'gob=<-' http://{{.Domain}}
    Horde Upload:
      COMMAND | curl -F 'gob=<-' http://{{.Domain}}/HORDE

DESCRIPTION
    Uploads output of COMMAND to {{.Domain}} or {{.Domain}}/HORDE and returns
    link to the gob.  All gobs pasted to a horde (a group of gobs or goblins) 
    can be seen by going to http://{{.Domain}}/h/HORDE.

    Add ?LANG to resulting url for line numbers and syntax highlighting.

    HORDE can be any combination of upper or lower case letters

    Images and pdfs should work well also.

EXAMPLES
    Normal Upload:
    ~$ echo "Gobin is awesome" | curl -F 'gob=<-' http://{{.Domain}}
       http://{{.Domain}}/VZiY
    ~$ firefox http://{{.Domain}}/VZiY

    Syntax Highlighting:
    ~$ firefox http://{{.Domain}}/VZiY?go

    Horde Upload:
    ~$ cat hatersgonnahate.gif | curl -F 'gob=<-' http://{{.Domain}}/gifs
       http://{{.Domain}}/VZiY
    ~$ firefox http://{{.Domain}}/h/gifs

SEE ALSO
    http://github.com/kinghrothgar/goblin
</code></pre>
</body>
{{end}}

{{define "homePage"}}<!DOCTYPE html>
<html>
{{template "head" .}}
{{template "homeBody" .}}
</html>
{{end}}

{{define "hordePage"}}<!DOCTYPE html>
<html>
{{template "head" .}}
{{template "hordeBody" .}}
</html>
{{end}}

{{define "gobPage"}}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/static/css/prism.css">
    <title>{{.Title}}</title>
</head>
<body>
    <pre class="line-numbers"><code class="language-{{.Language}}">{{.Data}}</code></pre>
    <script src="/static/js/prism.js"></script>
</body>
</html>
{{end}}
