{{define "head"}}
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" href="/static/css/code-block.css">
    <title>{{.Title}}</title>
</head>
{{end}}

{{define "hordeBody"}}
<body>
<h2>{{.Title}}</h2>
<hr>
<pre>
{{$domain := .Domain}}{{with .Horde}}{{range .}}<a href="http://{{$domain}}/{{.UID}}">{{.UID}}</a>    {{.Created}}
{{end}}{{end}}
</pre>
<hr>
</body>
{{end}}

{{define "homeBody"}}
<body>
<span class="code-block">
Welcome to GoBin, command line pastebin.
Backend using goblin written in go and redis
&lt;command&gt; | curl -F &#39;gob=&lt;-&#39; {{.Domain}}
Or, to paste to a horde:
&lt;command&gt; | curl -F &#39;gob=&lt;-&#39; {{.Domain}}/&lt;horde&gt;
Going to gobin.io/h/&lt;horde&gt; will list everything that has been pasted to it
</span>
</body>
{{end}}

{{define "homePage"}}<!DOCTYPE html>
<html>
{{template "head" .}}
{{template "homeBody" .}}
</html>
{{end}}

