{{define "homePage"}}gobin(1)                             GOBIN                             gobin(1)

NAME
    gobin: command line pastebin implemented by gobin written in go.
    STILL IN DEVELOPMENT, ANYTHING UPLOADED MAY BE DELETED AT ANY TIME.

SYNOPSIS
    Normal Upload, replace <FILENAME>:
      curl -F 'g=@<FILENAME>' https://{{.Domain}}
    Steam Upload:
      <command> | curl -F 'g=@-' https://{{.Domain}}
    Filename Steam Upload, replace <FILENAME>:
      <command> | curl -F 'g=@-' -F 'f=<FILENAME>' https://{{.Domain}}

DESCRIPTION
    TODO

EXAMPLES
    TODO

SEE ALSO
    https://github.com/kinghrothgar/gobin
{{end}}

{{define "urlPage"}}{{.Scheme}}://{{.Domain}}/{{.ID}}
{{.Scheme}}://{{.Domain}}/expire/{{.Secret}}
{{end}}

{{define "messPage"}}{{.Message}}{{end}}
