{{define "hordePage"}}{{$domain := .Domain}}{{with .Horde}}{{range .}}http://{{$domain}}/{{.UID}}    {{.Created}}
{{end}}{{end}}{{end}}

{{define "homePage"}}gobin(1)                             GOBIN                             gobin(1)

NAME
    gobin: command line pastebin implemented by goblin written in go.
    STILL IN DEVELOPMENT, ANYTHING UPLOADED MAY BE DELETED AT ANY TIME.

SYNOPSIS
    Normal Upload:
      <command> | curl -F 'gob=<-' http://{{.Domain}}
    Horde Upload:
      <command> | curl -F 'gob=<-' http://{{.Domain}}/<horde>

DESCRIPTION
    Uploads output of <command> to {{.Domain}} or {{.Domain}}/<horde> and returns
    link to the gob.  All gobs pasted to a horde (a group of gobs or goblins) 
    can be seen by going to http://{{.Domain}}/h/<horde>.

    Add ?<lang> to resulting url for line numbers and syntax highlighting.
    
    <horde> can be any combination of upper or lower case letters

    Images and pdfs should work well also.

EXAMPLES
    Normal Upload:
    ~$ echo "Gobin is awesome" | curl -F 'gob=<-' http://{{.Domain}}
       http://{{.Domain}}/VZiY
    ~$ firefox http://{{.Domain}}/VZiY

    Syntax Highlighting:
    ~$ firefox http://{{.Domain}}/VZiY?go

    Horde Upload:
    ~$ cat hatersgonnahate.gif | curl -F 'gob=<-' http://{{.Domain}}/gifs
       http://{{.Domain}}/VZiY
    ~$ firefox http://{{.Domain}}/h/gifs

SEE ALSO
    http://github.com/kinghrothgar/goblin
{{end}}
