{{define "hordePage"}}{{$domain := .Domain}}{{$scheme := .Scheme}}{{with .Horde}}{{range .}}{{$scheme}}://{{$domain}}/{{.UID}}    {{.Created}}
{{end}}{{end}}{{end}}

{{define "homePage"}}gobin(1)                             GOBIN                             gobin(1)

NAME
    gobin: command line pastebin implemented by gobin written in go.
    STILL IN DEVELOPMENT, ANYTHING UPLOADED MAY BE DELETED AT ANY TIME.

SYNOPSIS
    Normal Upload:
      <command> | curl -F 'gob=<-' https://{{.Domain}}
    Horde Upload:
      <command> | curl -F 'gob=<-' https://{{.Domain}}/<horde>

DESCRIPTION
    Uploads output of <command> to {{.Domain}} or {{.Domain}}/<horde> and returns
    link to the gob.  All gobs pasted to a horde (a group of gobs or gobins)
    can be seen by going to https://{{.Domain}}/horde/<horde>.

    Add ?<lang> to resulting url for line numbers and syntax highlighting.  All
    lexers for Pygments version 1.6 are valid.  Github style markdown is
    rendered instead of highlighting using the same method (?markdown).

    <horde> can be any combination of alphanumeric characters up to 50

    Images and pdfs should work well also.

EXAMPLES
    Normal Upload:
    ~$ echo "Gobin is awesome" | curl -F 'gob=<-' https://{{.Domain}}
       https://{{.Domain}}/VZiY
    ~$ firefox https://{{.Domain}}/VZiY

    Syntax Highlighting:
    ~$ firefox https://{{.Domain}}/VZiY?go

    Horde Upload:
    ~$ cat hatersgonnahate.gif | curl -F 'gob=<-' https://{{.Domain}}/gifs
       https://{{.Domain}}/VZiY
    ~$ firefox https://{{.Domain}}/horde/gifs

SEE ALSO
    https://github.com/kinghrothgar/gobin
    https://github.com/kinghrothgar/gobin-scripts
{{end}}

{{define "urlPage"}}{{.Scheme}}://{{.Domain}}/{{.UID}}
{{.Scheme}}://{{.Domain}}/delete/{{.DelUID}}
{{end}}

{{define "messPage"}}{{.Message}}{{end}}
